#### Charger la donnée bateaux.parq dans une DataFrame

#### Afficher le nombre d'éléments du DF

#### Afficher le type des éléments du DF

#### Afficher le schéma du DF

#### Ordonnez les bateaux par vitesse

#### Pour disposer d'une date plus lisible, rajoutez la colonne "timestamp_readable"
#### Pour cela, il vous faudra d'abord transformer le timestamp en secondes (timestamp_pos est en ms) et ensuite convertir en format date

#### Il est possible de créer un nouveau dataframe contenant des statistiques sur un dataframe

#### Filtrer le dataframe bateaux sur un bateau en particulier

#### Le nombre de bateaux qui ont été à l'arret et qui se sont déplacés

#### Les types distincts de bateaux

#### On affiche la moyenne de la vitesse des bateaux sans tenir compte des bateaux a l'arret

#### On affiche la date min puis  la date max pour chaque bateau

In [ ]:
df.select(min($"timestr")).show
df.select(max($"pickup_longitude")).show

#### Créer un dataframe avec l'id, la vitesse et le timestamp readable

#### Créer une colonne mois pour le mois en cours

#### Ajouter une colonne boolean à True si le bateau est en mouvement

#### Enregistrer la table

#### Afficher par type, le nombre de bateaux, la vitesse max et la moyenne de la vitesse, ordonnés par nombre de bateaux (requete SQL)

##### Mettons nos compétences au service d'un cas d'usage un peu plus intéressant.
##### Nous allons prendre un bateau de notre choix et nous allons tenter de calculer quels sont les bateaux qu'il a pu croiser sur sa route

#### Créer un nouveau dataframe basé sur le DF bateaux et filtré uniquement sur id_vessel de votre choix.
#### Débarassez vous également de la colonne "payload" avec la méthode df.drop("colonne")

#### Créer un deuxième dataframe basé sur le DF bateaux, avec les colonnes id_vessel, lat, lon et timestamp_pos
#### On transforme nos DF en rdd grâce à la fonction rdd

#### On calcule le nombre d'enregistrements associés à notre bateau
 
#### On calcule le nombre d'enregistrements du RDD de référence

##### Créer un RDD batEtude produit cartesien de notre RDD bateau et du RDD référentiel

##### On affiche la première ligne pour analyser son contenu
##### Astuce : n'oubliez pas que l'on est maintenant sur des RDD

##### On pourrait s'amuser à compter le nombre de lignes totales du RDD.. mais c'est une action !
##### Il est possible que cela prenne un peu de temps selon la taille de votre RDD contenant un seul id_vessel

##### B4 - Filtrer notre produit cartésien pour éliminer les bateaux identiques à notre id_vessel choisi
##### Astuce : notre RDD batEtude est composé de tuples(bateau,bateauRef)

##### On va également filtrer les informations des bateaux pour ne conserver que les enregistrements à +/- une heure (3600s)

In [ ]:
def calculateDistanceInKilometer(userlat, userlon, otherlat, otherlon):
    AVERAGE_RADIUS_OF_EARTH_KM = 6371
    latDistance = math.radians(userlat - otherlat)
    lngDistance = math.radians(userlon - otherlon)
    sinLat = math.sin(latDistance / 2)
    sinLng = math.sin(lngDistance / 2)
    a = sinLat * sinLat + (math.cos(math.radians(userlat)) * math.cos(math.radians(otherlat))* sinLng * sinLng)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    return int(AVERAGE_RADIUS_OF_EARTH_KM * c)

##### Filtrer notre RDD en ne conservant que les bateaux pour lesquels la distance est inférieure à 1 km
##### La méthode calculateDistanceInKilometer(lat,lon,lat,long) renvoi la distance en kilomètres entre deux coordonnées